extends ../base.pug
block body
    <div class="auth">
        <div>
            <h1>Welcome to Osmoe Sam</h1>
        </div>

        <nav>
            <div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="auth__nav">
                    <ul>
                        <li class="auth__nav-item"><a onclick="reveal('signup')">Sign Up</a></li>
                        <li class="auth__nav-item"><a onclick="reveal('login')">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div id="signupModal" class="auth__modals-signupModal">
            <div class="auth__modals-signupModal-content">
                include signup.pug 
            </div>
        </div>

        <div id="loginModal" class="auth__modals-loginModal">
            <div class="auth__modals-loginModal-content">
                include login.pug
            </div>
        </div>
    </div>
append extrajs
    script
        |function reveal(id_prefix){
        |    document.getElementById(id_prefix + "Modal").style.display = "block";
        |}
        if modal
            | reveal("#{modal}");
        if login_error
            | document.getElementById("loginError").style.opacity = 1;
        if signup_error
            | document.getElementById("signupError").style.opacity = 1;
    