<form class="auth__form" action="/login" method="post">
    <h3><i class="auth__form-close" onclick="hide('login');">close</i> Login to your Osmoe Account</h3>
    <span class="auth__form-error" id="loginError">Could not find a user with that username and password combination</span>
    <div class="auth__form-section">
        <input class="auth__form-input" placeholder="Email" type="text" name="email"/>
    </div>
    <div class="auth__form-section">
        <input class="auth__form-input" placeholder="Password" type="password" name="password"/>
    </div>
    <div class="auth__form-section">
        <input class="auth__form-submit" type="submit" value="Log In"/>
    </div>
</form>                  
          


