<form class="signup__form" action="/signup" method="post">
    <h3>Create Your Own Osmoe Account!<span class="signup__form-close" onclick="document.getElementById('signupModal').style.display='none';">X<span></h3>
    <span class="signup__form-error" id="signupError">A User with that email already has an account.</span>
    <div class="signup__form-section">
        <label>Your Name:</label>
        <input class="signup__form-input" type="text" name="username"/>
    </div>
    <div class="signup__form-section">
        <label>Email:</label>
        <input class="signup__form-input" type="text" name="email"/>
    </div>    
    <div class="signup__form-section">
        <label>Password:</label>
        <input class="signup__form-input" type="password" name="password"/>
    </div>
    <div class="signup__form-section">
        <input class="signup__form-submit" type="submit" value="Sign Up"/>
    </div>
</form>