.auth{
    @extend .w3-container;
    background-color: $auth-background;
    color: white;
    height: 100%;

    &__header{
        @extend .w3-center;
        margin: auto;
        line-height: 2rem;
        max-width: 90%;

        &-title{
            @extend .w3-padding;
            font-size: 2rem;
            vertical-align: middle;
            float: left;
        }
        &-nav{
            @extend .w3-bar;
            width: auto;
            float: right;
            vertical-align: middle;
    
            a{
                text-decoration: none;
            }
            &-item{
                @extend .w3-bar-item, .w3-button, .w3-round;
            }
        }
    }


    &__modals{
        @extend .w3-modal;

        &-animate{
            opacity: 0;
            transition: all .3s linear;
            margin-top: 30px;
        }
        &-signupModal{
            @extend .auth__modals;

            &-content{
                @extend .w3-modal-content, .auth__modals-animate;
                background-color: transparent;
            }
        }
        &-loginModal{
            @extend .auth__modals;

            &-content{
                @extend .w3-modal-content, .auth__modals-animate;
                background-color: transparent;
            }
        }
        &-isVisible{
            display: block;
        }
        &-isOpen{
            margin-top: 15px;
            opacity: 1;
        }
    }
}