extends base.pug

block title
     title Home
block body
    block extrajs
    script(src='../static/scripts/phone.js')
    #tab__status
        img(src="../static/images/expandBtnDown.png" id='expand__status')
    #osmoe__background
    #osmoe__foreground
        img(src="../static/penguin/OSIdleX10.gif" id='osmoe')
    #tab__upgrade
        img(src="../static/images/expandBtn.png" id='expand__upgrade')
    #overlay__upgrade

        