.brianStuff {
  background-color: #68CAFE; }
  .brianStuff h2 {
    margin: 13% 20% 0 0;
    font-weight: 600;
    display: flex;
    width: 30%;
    float: right;
    text-align: center; }
  .brianStuff h3 {
    font-size: 25px;
    float: left;
    margin-top: 3%; }

body {
  background-color: #68CAFE;
  margin: 0; }

#exit {
  float: right;
  width: 5%;
  height: 10%; }
  #exit:hover {
    cursor: pointer;
    filter: invert(100%); }

#addRemove, #addRemove__happy, #addRemove__water, #addRemove__food {
  float: right;
  width: 7%;
  height: 15%;
  margin-right: 5%; }
  #addRemove__happy {
    margin-top: 3%; }
    #addRemove__happy:hover {
      cursor: pointer; }
  #addRemove__water {
    margin-top: 6.5%; }
    #addRemove__water:hover {
      cursor: pointer; }
  #addRemove__food {
    margin-top: 6.5%; }
    #addRemove__food:hover {
      cursor: pointer; }

#goal, #goal__happy, #goal__water, #goal__food {
  width: 80%;
  height: 20%;
  margin-left: 7%;
  font-size: 40px;
  text-align: center;
  margin-top: 5%;
  border-radius: 10px; }
  #goal__container {
    margin-left: 10%;
    overflow: auto;
    width: 80%;
    height: 70%; }
  #goal__happy {
    margin-top: 2%; }

#profilePic {
  width: 80%;
  height: 80%;
  margin-top: 8%;
  display: inline-block; }
  #profilePic:hover {
    filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(185deg) brightness(106%) contrast(114%); }

#container, #container__input, #container__osmoe, #container__stat, #container__upgradeBtns {
  position: fixed; }
  #container__input {
    margin: 13% -2% -5% -8%;
    width: 70%;
    height: 70%; }
  #container__osmoe {
    margin-left: 70%;
    width: 30%;
    height: 100%;
    overflow: auto; }
  #container__stat {
    margin: 9.5% 0 0 33%;
    width: 35%;
    height: 42%;
    background: #5E7989;
    color: white;
    overflow: auto; }
  #container__happy {
    margin: 5% 0 17% 5%; }
  #container__water {
    margin: 0 0 29% 5%; }
  #container__food {
    margin: 0 0 5% 5%; }
  #container__upgradeBtns {
    width: 20.5%;
    height: 60%;
    margin: 10% 0 0 10%;
    color: white; }
  #container__answer {
    width: 70%;
    margin-left: 15%;
    margin-top: 15%; }
  #container__message {
    width: 60%;
    float: left; }

#message {
  position: fixed;
  margin: 3% 0 0 13%;
  color: white;
  font-size: 50px;
  font-weight: 600; }

#label__happy {
  padding-right: 58%;
  margin: 0 0 0 0;
  height: 50%; }

#label__water {
  padding-right: 54%;
  margin: 0 0 0 0; }

#label__food {
  padding: 11% 54% 0 0;
  margin: 0 0 0 0; }

#label__status {
  padding: 2% 0 0 5%;
  font-weight: 600; }

.label, .label__answer {
  height: 10%;
  font-size: 45px;
  display: inline-block;
  margin-top: 13%;
  font-weight: bold; }

.barContainer {
  background: black;
  float: right;
  width: 73%;
  height: 10%;
  overflow: auto;
  margin: 3% 5% 0 0; }

#bar, #bar__happy, #bar__water, #bar__food {
  height: 100%;
  width: 90%;
  float: right; }
  #bar__happy {
    background: #FFC001; }
  #bar__water {
    background: #02AFEF; }
  #bar__food {
    background: #93CF4E; }

#overlay, #overlay__shadow {
  position: fixed;
  display: none;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  background: #68CAFE;
  z-index: 3; }
  #overlay__title {
    color: white;
    font-size: 50px;
    width: 90%;
    margin: 8% 0 0 15%; }
  #overlay__question {
    color: white;
    font-size: 30px;
    width: 70%;
    margin: 2% 0 0 15%;
    align-content: center; }
  #overlay__shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2; }

#arrow, #arrow__happy, #arrow__water, #arrow__food {
  width: 30%;
  height: 50%;
  margin: 10% 0 0 10%; }
  #arrow__happy {
    filter: invert(66%) sepia(90%) saturate(805%) hue-rotate(358deg) brightness(103%) contrast(105%); }
  #arrow__water {
    filter: invert(63%) sepia(44%) saturate(4548%) hue-rotate(159deg) brightness(94%) contrast(100%); }
  #arrow__food {
    filter: invert(70%) sepia(12%) saturate(1927%) hue-rotate(46deg) brightness(108%) contrast(83%); }

#button, #button__profile, #button__happy, #button__water, #button__food, #button__yes, #button__no {
  width: 70%;
  height: 20%;
  border-radius: 80px;
  color: white;
  background-color: #45546B;
  overflow: auto; }
  #button:hover, #button__profile:hover, #button__happy:hover, #button__water:hover, #button__food:hover, #button__yes:hover, #button__no:hover {
    background: white;
    color: #45546B;
    cursor: pointer; }
  #button__profile {
    position: fixed;
    height: 150px;
    margin: 1% 0 0 1%;
    border-radius: 100%;
    background: white;
    text-align: center;
    vertical-align: middle;
    float: left;
    overflow: auto; }
    #button__profile:hover {
      background: black; }
  #button__happy {
    display: flex;
    margin: 0 5% 5% 0;
    vertical-align: middle; }
  #button__water {
    margin: 0 5% 5% 0; }
  #button__food {
    margin: 0 5% 5% 0; }
  #button__yes {
    width: 30%;
    float: right;
    text-align: center; }
  #button__no {
    width: 30%;
    float: left;
    text-align: center; }
  #button__exit {
    width: 100%;
    height: 100%; }

#osmoe {
  width: 55%;
  position: absolute;
  z-index: 1; }
  #osmoe__background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    float: right;
    text-align: center; }
  #osmoe__foreground {
    justify-content: center;
    margin: 0 0 0 0;
    height: 105%;
    width: 30%;
    position: fixed;
    overflow: auto;
    text-align: center; }

#backgroundImage {
  height: 97%;
  position: relative;
  margin-bottom: -400px;
  text-align: center; }

#window {
  height: 97%;
  position: relative;
  margin-top: -568px; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }
