$bgColor: #68CAFE;
$btnColor: #45546B;
$fontColor: white;
$btnRadius: 80px;

.brianStuff {
    background-color: $bgColor;
    h2 {
        margin: 13% 20% 0 0; 
        font-weight: 600;
        display:flex; 
        width:30%; 
        float:right; 
        text-align:center;
        
    }
    h3 {
        font-size: 25px;
        float: left;
        margin-top: 3%;
    }
}

body {
    background-color: $bgColor;
    margin: 0;
    
}

#exit {
    float: right;
    width: 5%;
    height: 10%;
    &:hover {
        cursor: pointer;
        filter: invert(100%);
    }
}
#addRemove {
    float: right;
    width: 7%;
    height: 15%;
    margin-right: 5%;
    
    &__happy {
        @extend #addRemove;
        margin-top: 3%;
        &:hover {
            cursor: pointer;
        }
    }
    &__water {
        @extend #addRemove;
        margin-top: 6.5%;
        &:hover {
            cursor: pointer;
        }
    }
    &__food {
        @extend #addRemove;
        margin-top: 6.5%;
        &:hover {
            cursor: pointer;
        }
    }
}
#goal {
    width: 80%;
    height: 20%;
    margin-left: 7%;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
    &__container {
        margin-left: 10%;
        overflow: auto;
        width: 80%;
        height: 70%;
    }
    &__happy {
        @extend #goal;
        margin-top: 2%;
    }
    &__water {
        @extend #goal;
    }
    &__food {
        @extend #goal;
    }
}
#profilePic {
    width: 80%;
    height: 80%;
    margin-top: 8%;
    display: inline-block;

    &:hover {
        filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(185deg) brightness(106%) contrast(114%);
    }

}
#container {
    position: fixed;
    &__input {
        @extend #container;
        margin:13% -2% -5% -8%; 
        width: 70%; 
        height:70%;
    }
    &__osmoe {
        @extend #container;
        margin-left: 70%;
        width: 30%;
        height: 100%;
        overflow: auto;
    }
    &__stat {
        @extend #container;
        margin:9.5% 0 0 33%;
        width: 35%;
        height: 42%;
        background: #5E7989;
        color: $fontColor;
        overflow: auto;
    }
    &__happy {
        margin: 5% 0 17% 5%;
    }
    &__water {
        margin: 0 0 29% 5%;
    }
    &__food {
        margin: 0 0 5% 5%;
    }
    &__upgradeBtns {
        @extend #container;
        width:20.5%;
        height: 60%;
        margin:10% 0 0 10%;
        color: $fontColor; 
    }
    &__answer {
        width: 70%;
        margin-left: 15%;
        margin-top: 15%;
    }
    &__message {
        width:60%;
        float: left;
    }
}
#message {
    position: fixed;
    margin: 3% 0 0 13%;
    color: $fontColor;
    font-size: 50px;
    font-weight: 600;
}
#label {
    &__happy {
        padding-right: 58%;
        margin: 0 0 0 0;
        height: 50%;
    }
    &__water {
        padding-right: 54%;
        margin: 0 0 0 0;
    }
    &__food {
        padding: 11% 54% 0 0; 
        margin: 0 0 0 0;
    }
    &__status {
        padding: 2% 0 0 5%;
        font-weight: 600;
    }
}
.label {
    height: 10%;
    font-size: 45px;
    display: inline-block;
    margin-top: 13%;
    font-weight: bold;
    &__answer {
        @extend .label;
    }
}
.barContainer {
    background: black;
    float: right;
    width: 73%;
    height: 10%;
    overflow: auto;
    margin: 3% 5% 0 0;
}
#bar {
    height: 100%;
    width: 90%;
    float: right;

    &__happy {
        @extend #bar;
        background: #FFC001;
    }
    &__water {
        @extend #bar;
        background: #02AFEF;
    }
    &__food {
        @extend #bar;
        background: #93CF4E;
    }
}
#overlay {
    position: fixed; 
    display: none; 
    width: 70%; 
    height: 70%; 
    top: 15%;
    left: 15%;
    background: $bgColor; 
    z-index: 3; 
    &__title {
        color: $fontColor;
        font-size: 50px;
        width: 90%;
        margin: 8% 0 0 15%;
    }
    &__question{
        color: $fontColor;
        font-size: 30px;
        width: 70%;
        margin: 2% 0 0 15%;
        align-content: center;
    }
    &__shadow {
        @extend #overlay;
        width: 100%; 
        height: 100%; 
        background: rgba(0,0,0,0.5);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2; 
    }
}
#arrow {
    width: 30%;
    height: 50%;
    margin: 10% 0 0 10%;
    &__happy {
        @extend #arrow;
        filter: invert(66%) sepia(90%) saturate(805%) hue-rotate(358deg) brightness(103%) contrast(105%);
    }
    &__water {
        @extend #arrow;
        filter: invert(63%) sepia(44%) saturate(4548%) hue-rotate(159deg) brightness(94%) contrast(100%);
    }
    &__food {
        @extend #arrow;
        filter: invert(70%) sepia(12%) saturate(1927%) hue-rotate(46deg) brightness(108%) contrast(83%);
    }
}
#button {
    width: 70%;
    height: 20%;
    border-radius: $btnRadius;
    color: $fontColor;
    background-color:$btnColor;
    overflow: auto;
    &:hover {
        background: $fontColor;
        color: $btnColor;
        cursor: pointer;
    }
    &__profile {
        @extend #button;
        position: fixed;
        height: 150px;
        margin: 1% 0 0 1%;
        border-radius: 100%;
        background: white;
        text-align: center;
        vertical-align: middle;
        float: left;
        overflow: auto;
        &:hover {
            background: black;
            
        }
    }
    &__happy {
        @extend #button;
        display: flex;
        margin: 0 5% 5% 0;
        vertical-align: middle;
    }
    &__water {
        @extend #button;
        margin: 0 5% 5% 0;
    }
    &__food {
        @extend #button;
        margin: 0 5% 5% 0;
    }
    &__yes {
        @extend #button;
        width: 30%;
        float: right;
        text-align: center;
    }
    &__no {
        @extend #button;
        width: 30%;
        float: left;
        text-align: center;
    }
    &__exit {
        width: 100%;
        height: 100%;
    }
}
#osmoe {
    width: 55%;
    position: absolute;
    z-index: 1;
    &__background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-x: center;
        float: right;
        text-align: center;
    }
    &__foreground {
        //display: flex;
        justify-content: center;
        margin: 0 0 0 0;
        height: 105%;
        width: 30%;
        position: fixed;
        overflow: auto;
        text-align: center;
    }
}

#backgroundImage {
    height: 97%;
    position: relative;
    margin-bottom: -400px;
    text-align: center;

}

#window {
    height: 97%;
    position: relative;
    margin-top: -568px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}